In [168]:
import sys
sys.path.insert(0, '/Users/nina/Documents/treemap/treemap/analysis')
from config_figures import *

In [170]:
ecoregions_species_sampled = pd.read_csv('../../data/ecoregion_species_sampled.csv')
ecoregions_species_sampled['ECO_ID'] = ecoregions_species_sampled.apply(lambda x: x.site.split('_')[1], axis=1).astype('int')
ecoregions_species_sampled['current_or_future'] = ecoregions_species_sampled.apply(lambda x: x.site.split('_')[2], axis=1)
ecoregions_species_sampled = ecoregions_species_sampled.drop(columns=['site']).set_index(['ECO_ID','current_or_future'])
ecoregions_species_sampled

                          Abarema_barbouriana  Abarema_brachystachya  \
ECO_ID current_or_future
460    current                            1.0                    0.0
       future                             1.0                    0.0
306    current                            0.0                    0.0
       future                             0.0                    0.0
474    current                            1.0                    1.0
...                                       ...                    ...
479    future                             1.0                    0.0
492    current                            0.0                    1.0
       future                             0.0                    1.0
486    current                            1.0                    0.0
       future                             1.0                    1.0

                          Abarema_cochleata  Abarema_filamentosa  \
ECO_ID current_or_future
460    current                          0.0                  0.0
       future                           0.0                  0.0
306    current                          0.0                  0.0
       future                           0.0                  0.0
474    current                          1.0                  0.0
...                                     ...                  ...
479    future                           0.0                  0.0
492    current                          0.0                  1.0
       future                           1.0                  1.0
486    current                          0.0                  0.0
       future                           0.0                  0.0

                          Abarema_jupunba  Abarema_laeta  \
ECO_ID current_or_future
460    current                        1.0            1.0
       future                         1.0            1.0
306    current                        0.0            0.0
       future                         0.0            0.0
474    current                        1.0            1.0
...                                   ...            ...
479    future                         1.0            1.0
492    current                        1.0            0.0
       future                         1.0            0.0
486    current                        1.0            1.0
       future                         1.0            1.0

                          Abarema_langsdorffii  Abatia_parviflora  Abies_alba  \
ECO_ID current_or_future
460    current                             0.0                1.0         0.0
       future                              0.0                1.0         0.0
306    current                             0.0                0.0         0.0
       future                              0.0                0.0         0.0
474    current                             0.0                0.0         0.0
...                                        ...                ...         ...
479    future                              0.0                1.0         0.0
492    current                             1.0                0.0         0.0
       future                              1.0                0.0         0.0
486    current                             0.0                1.0         0.0
       future                              0.0                1.0         0.0

                          Abies_amabilis  ...  Zygia_cataractae  \
ECO_ID current_or_future                  ...
460    current                       0.0  ...               1.0
       future                        0.0  ...               1.0
306    current                       0.0  ...               0.0
       future                        0.0  ...               0.0
474    current                       0.0  ...               1.0
...                                  ...  ...               ...
479    future                        0.0  ...               1.0
492    current                       0.0  ...               1.0
       future                        0.0  ...               1.0
486    current                       0.0  ...               1.0
       future                        0.0  ...               1.0

                          Zygia_cauliflora  Zygia_coccinea  Zygia_conzattii  \
ECO_ID current_or_future
460    current                         1.0             1.0              1.0
       future                          1.0             1.0              1.0
306    current                         0.0             0.0              0.0
       future                          0.0             0.0              0.0
474    current                         1.0             1.0              0.0
...                                    ...             ...              ...
479    future                          1.0             1.0              0.0
492    current                         0.0             0.0              0.0
       future                          0.0             0.0              0.0
486    current                         1.0             1.0              0.0
       future                          1.0             1.0              1.0

                          Zygia_inaequalis  Zygia_latifolia  Zygia_longifolia  \
ECO_ID current_or_future
460    current                         1.0              1.0               1.0
       future                          1.0              1.0               1.0
306    current                         0.0              0.0               0.0
       future                          0.0              0.0               0.0
474    current                         1.0              1.0               1.0
...                                    ...              ...               ...
479    future                          1.0              1.0               1.0
492    current                         1.0              1.0               0.0
       future                          1.0              1.0               0.0
486    current                         1.0              1.0               1.0
       future                          1.0              1.0               1.0

                          Zygia_racemosa  Zygia_unifoliolata  \
ECO_ID current_or_future
460    current                       1.0                 1.0
       future                        1.0                 1.0
306    current                       0.0                 0.0
       future                        0.0                 0.0
474    current                       1.0                 1.0
...                                  ...                 ...
479    future                        0.0                 1.0
492    current                       0.0                 0.0
       future                        0.0                 0.0
486    current                       1.0                 1.0
       future                        1.0                 1.0

                          Zygogynum_pancheri
ECO_ID current_or_future
460    current                           0.0
       future                            0.0
306    current                           0.0
       future                            0.0
474    current                           0.0
...                                      ...
479    future                            0.0
492    current                           0.0
       future                            0.0
486    current                           0.0
       future                            0.0

[994 rows x 10590 columns]

In [193]:
sdms_area_lat_elev = pd.read_csv('../../data/sdms_area_lat_elev.csv', index_col=['species','climate']).drop(columns=['system:index','.geo'])
sdms_area_lat_elev = sdms_area_lat_elev[sdms_area_lat_elev['min_tree_cover'] == 0]
sdms_area_lat_elev

,,area,median_elev,median_lat,min_tree_cover
species,climate,,,,
Abarema_barbouriana,1981_2010,9.416606e+11,271.175664,3.628973,0
Abarema_brachystachya,1981_2010,8.040583e+11,583.798649,-20.127242,0
Abarema_cochleata,1981_2010,5.791520e+11,46.901477,-2.438856,0
Abarema_filamentosa,1981_2010,3.037458e+11,251.950137,-12.438020,0
Abarema_jupunba,1981_2010,3.035330e+12,199.640084,2.124966,0
...,...,...,...,...,...
Zygia_latifolia,2071_2100_ssp585,5.360228e+12,199.549619,-2.251095,0
Zygia_longifolia,2071_2100_ssp585,9.454284e+11,303.168667,5.373069,0
Zygia_racemosa,2071_2100_ssp585,4.274584e+12,135.514965,-2.625524,0
Zygia_unifoliolata,2071_2100_ssp585,6.741721e+12,175.216714,-2.375378,0
Zygogynum_pancheri,2071_2100_ssp585,6.595951e+09,307.687500,-21.722729,0

In [221]:
def lat_elev_shift(row):
    species_df = sdms_area_lat_elev.loc[row.species]
    delta = species_df.loc['2071_2100_ssp585'] - species_df.loc['1981_2010']
    row['abs_lat_shift'] = abs(delta['median_lat'])
    row['elev_shift'] = delta['median_elev']
    return row

lat_elev_shift_df = pd.DataFrame({
    'species': sdms_area_lat_elev.index.get_level_values('species').copy().drop_duplicates()
}).apply(lat_elev_shift, axis=1)
lat_elev_shift_df

                     species  abs_lat_shift  elev_shift
0        Abarema_barbouriana       0.752466  128.403792
1      Abarema_brachystachya      11.006968 -320.151112
2          Abarema_cochleata       0.063591   64.842935
3        Abarema_filamentosa      10.998948   23.808529
4            Abarema_jupunba       2.001480  -32.061068
...                      ...            ...         ...
10585        Zygia_latifolia       1.374710   19.882951
10586       Zygia_longifolia       0.005121   63.713462
10587         Zygia_racemosa       2.999650   -0.056173
10588     Zygia_unifoliolata       1.500474   63.365200
10589     Zygogynum_pancheri       0.188852   15.937500

[10590 rows x 3 columns]

In [228]:
def n_lost_gained(row):
    eco_species = ecoregions_species_sampled.loc[row.ECO_ID]

    delta_species = (eco_species.loc['current'] - eco_species.loc['future']).to_list()
    row['n_current'] = eco_species.loc['current'].to_list().count(1)
    row['n_future'] = eco_species.loc['future'].to_list().count(1)
    row['n_lost'] = delta_species.count(1)
    row['n_gained'] = delta_species.count(-1)

    species_current_future = eco_species.columns[eco_species.sum() == 2].to_list()
    species_lat_elev_shift = lat_elev_shift_df[lat_elev_shift_df['species'].isin(species_current_future)]
    row['median_abs_lat_shift'] = species_lat_elev_shift['abs_lat_shift'].median()
    row['median_elev_shift'] = species_lat_elev_shift['elev_shift'].median()

    return row

eco_df = pd.DataFrame({
    'ECO_ID': ecoregions_species_sampled.index.get_level_values('ECO_ID').copy().drop_duplicates()
}).apply(n_lost_gained, axis=1)
eco_df

,ECO_ID,n_current,n_future,n_lost,n_gained,median_abs_lat_shift,median_elev_shift
0,460.0,3017.0,3054.0,29.0,66.0,1.498638,15.818595
1,306.0,804.0,797.0,35.0,28.0,1.499095,0.071650
2,474.0,1554.0,1753.0,121.0,320.0,1.250964,-0.198363
3,448.0,3080.0,3090.0,25.0,35.0,1.497438,15.944597
4,689.0,210.0,212.0,7.0,9.0,5.498076,-31.890687
...,...,...,...,...,...,...,...
492,337.0,561.0,686.0,64.0,189.0,2.266211,32.168345
493,445.0,1744.0,1293.0,509.0,58.0,1.748781,-31.979270
494,479.0,2306.0,2508.0,67.0,269.0,1.502058,0.383821
495,492.0,1809.0,1625.0,215.0,31.0,1.750695,-32.036579
496,486.0,3124.0,3118.0,55.0,49.0,1.495503,15.981938

In [231]:
nmds_evopca_df = pd.read_csv('../../data/nmds_evopca_eucl_dist_ecoregions_current_future.csv')
# NORMALISE BEFORE EUCLIDEAN DISTANCE????
nmds_evopca_df

,ECO_ID,current_MDS1,current_MDS2,current_MDS3,future_MDS1,future_MDS2,future_MDS3,current_evoPCA1,current_evoPCA2,current_evoPCA3,future_evoPCA1,future_evoPCA2,future_evoPCA3,MDS_euclidean_distance,evoPCA_euclidean_distance
0,460,0.782055,0.570699,-0.112798,0.777644,0.573119,-0.118162,-0.175813,0.036978,-0.037345,-0.175934,0.037516,-0.037121,0.007354,0.000595
1,306,-0.337616,-0.486903,0.126493,-0.318726,-0.530914,0.152288,0.350975,-0.021848,-0.139257,0.345840,-0.026654,-0.140066,0.054398,0.007080
2,474,1.007035,0.572079,-0.281832,0.930937,0.514183,-0.278163,-0.201635,-0.030606,0.004127,-0.189515,-0.024401,0.003580,0.095689,0.013628
3,448,0.768222,0.578931,-0.124444,0.764465,0.581280,-0.125258,-0.166315,0.046961,-0.038744,-0.168340,0.045716,-0.039108,0.004505,0.002405
4,689,-1.114966,0.155993,-0.252816,-1.118158,0.159493,-0.253274,0.493437,0.271318,0.121846,0.492879,0.268471,0.118863,0.004759,0.004161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,337,0.128184,0.835052,0.107722,0.215650,0.665236,0.056804,0.169684,0.168199,-0.002640,0.103797,0.153115,0.005880,0.197688,0.068127
489,445,1.016002,0.439428,-0.197230,1.016944,0.402191,-0.251266,-0.159680,-0.035216,0.038543,-0.152977,-0.042983,0.058842,0.065631,0.022745
490,479,0.812683,0.549701,-0.090881,0.804887,0.562966,-0.121410,-0.171555,0.025391,-0.027732,-0.179026,0.024586,-0.025926,0.034187,0.007729
491,492,0.968063,0.403289,-0.240619,0.993355,0.405444,-0.236316,-0.151134,-0.028332,0.032974,-0.153214,-0.031269,0.042316,0.025746,0.010011
492,486,0.764086,0.583731,-0.113135,0.763156,0.583831,-0.115748,-0.165134,0.048859,-0.038328,-0.168776,0.046128,-0.037748,0.002775,0.004590

In [232]:
nmds_evopca_df.min()

ECO_ID                       1.000000e+00
current_MDS1                -1.474552e+00
current_MDS2                -1.029149e+00
current_MDS3                -1.627755e+00
future_MDS1                 -1.446041e+00
future_MDS2                 -1.029149e+00
future_MDS3                 -1.625855e+00
current_evoPCA1             -2.038880e-01
current_evoPCA2             -2.697156e-01
current_evoPCA3             -1.571067e-01
future_evoPCA1              -1.966586e-01
future_evoPCA2              -2.715149e-01
future_evoPCA3              -1.564957e-01
MDS_euclidean_distance       1.040834e-16
evoPCA_euclidean_distance    0.000000e+00
dtype: float64

In [233]:
nmds_evopca_df.max()

ECO_ID                       806.000000
current_MDS1                   2.102400
current_MDS2                   1.587067
current_MDS3                   1.086820
future_MDS1                    1.746779
future_MDS2                    1.594577
future_MDS3                    1.067806
current_evoPCA1                0.508551
current_evoPCA2                0.315583
current_evoPCA3                0.295052
future_evoPCA1                 0.502009
future_evoPCA2                 0.298749
future_evoPCA3                 0.293115
MDS_euclidean_distance         1.842808
evoPCA_euclidean_distance      0.202203
dtype: float64